<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Entrar no Work Time</title>
    <link rel="stylesheet" href="css/style_login.css" />
</head>

<body class="dark-mode"> <!-- Inicia com o modo escuro -->
    <!-- Top Bar com imagem central e switch -->
    <div class="top-bar">
        <img src="/img/logo.png" alt="Logo Work Time" />
        <label class="switch">
            <input type="checkbox" id="colorModeSwitch" checked>
            <span class="slider round"></span>
        </label>
    </div>

    <!-- Formulário centralizado -->
    <div class="main-content">
        <div class="login-container">
            <h1>Entrar no Work Time</h1>
            <form>
                <div class="form-group">
                    <label for="username">Nome de usuário ou email</label>
                    <input type="text" id="username" name="username" required />
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" id="password" name="password" required />
                </div>
                <button type="submit" class="btn-login">Entrar</button>
            </form>
            <div class="footer">
                <p><a href="#">Esqueceu a senha?</a></p>
                <p>Novo no Work Time? <a href="primeiroacesso.html">Primeiro acesso</a>.</p>
            </div>
        </div>
    </div>

    <!-- Rodapé com links adicionais -->
    <div class="site-footer">
        <a href="#">Contact Work Time Support</a>
    </div>

    <script src="script.js"></script>
</body>

</html>
